;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Mar 19 23:56:15 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs.d/init.el" "/home/leonardo/Proyectos/quiebre-variacional/software/solucionSistemaGrandePETsc.py" "~/.emacs.d/init.el" "~/cu/pymmgeo/static/form.py" "~/cu/pymmgeo/frontend/__init__.py" "~/tornado ejemplos/hw.py" "~/tornado ejemplos/hello\\,\\ world.py" "~/tornado ejemplos/" "~/Documents/variacional/software/tools.py" "/Users/leonardojofre/Documents/variacional/software/solucionSistemaGrandePETsc.py" "~/.emacs.d/" "~/Documents/variacional/software/solucionSistemaGrandePySparse.py" "~/Documents/variacional/software/SolucionDelSistemaGrande.py" "~/Documents/variacional/software/solucionSistemaGrandePETsc.py" "~/Documents/variacional/software/ConstruccionDelSistemaGrande.py" "~/.emacs.d/init.el" "/Users/leonardojofre/.emacs.d/init.el" "/Users/leonardojofre/Documents/variacional/software/solucionSistemaGrandePETsc.py"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/leonardo/.emacs.d/init.el"
  "init.el"
  'emacs-lisp-mode
  '(global-auto-revert-mode linum-mode)
  2215
  '(2109 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/leonardo/Proyectos/quiebre-variacional/software/solucionSistemaGrandePETsc.py"
  "solucionSistemaGrandePETsc.py"
  'python-mode
  '(global-auto-revert-mode linum-mode auto-complete-mode flymake-mode highlight-indentation-mode yas-minor-mode elpy-mode eldoc-mode)
  1210
  '(1210 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix)))

